.DS_Store

# Xcode - User-specific files
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/*xcuserdata*

# Xcode - Build products
DerivedData/
build/
*.build/

# Xcode - State files
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Configuration files with secrets
ios/escape/escape/Supabase.swift

# Supabase
supabase/.temp
supabase/supabase

# Swift Package Manager
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
