CLAUDE.md
.DS_Store

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/*xcuserdata*
supabase/.temp
supabase/supabase

# Configuration files with secrets
ios/escape/escape/supabase.swift
ios/escape/escape/Supabase.swift
ios/escape/Config.xcconfig
