<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tk-a-2505.escape</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.supabase.user-management</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>このアプリは、現在地を地図上に表示し、近くの避難所を見つけるのに役立てるために、位置情報を使用します。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>このアプリは、現在地を地図上に表示し、近くの避難所を見つけるのに役立てるために、位置情報を使用します。</string>
</dict>
</plist>
